
#title{
  padding-left: 7cm;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

#city-form{
  margin-top: 10px;
 
}

#cities-temp{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;

}